<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a  href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a target="_blank" href="https://www.linkedin.com/in/dinesh-gopi-93a18b226/" class="nav-link px-2 text-body-secondary">Linkedin</a></li>
        <li class="nav-item"><a target="_blank" href="https://github.com/DineshMitta" class="nav-link px-2 text-body-secondary">Github</a></li>
        <li class="nav-item"><a target="_blank" href="https://dineshmitta.github.io/Project-Zero/" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a target="_blank" href="https://google.com" class="nav-link px-2 text-body-secondary">Resume</a></li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2024 Kuro, Inc</p>
    </footer>
  </div>
  
  <div class="b-example-divider"></div>