<!DOCTYPE html>
<html>
    <head>
        <title>Kuro Careers</title>
       {% include 'bootstrap.html' %}
        <style>
            #banner{
                height: 560px;
                width: 100%;
                object-fit: cover;
                margin-bottom: 16px;

            }   
        </style>
    </head>
    <body>
        {% include 'nav.html' %}
        <img class="img-fluid" id="banner" src="/static/fuel.jpg" height="320">
        <div class="container">
            <h1 class="text-center mt-2 mb-4"> {{company_name}} Careers</h1>
            

                <div class="row" style="margin-bottom: 45px;">
                        <div class="col-md-6">
                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  A quisquam alias architecto sint amet aperiam quod doloremque soluta nam ipsum inventore,
                  possimus itaque. Doloribus, veritatis omnis dolorum fugit cumque saepe?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum distinctio qui quo unde. 
                  Consequatur ullam optio quibusdam fugit, cum doloribus aspernatur veniam natus dicta error! Eveniet fuga explicabo officia!
                </p>
                    </div>
                    <div class="d-none d-md-block col-md-6"> <img src="/static/lap.jpg" style="height: 320px; border-radius: 4px;"> </div>
                
                </div>

             <h2 class="text-center mt-2 mb-4">Job Openings</h2>
                
                    <div>
                        {% for job in jobs %}
                            {% include 'jobitem.html' %}
                        {% endfor %}
                    </div>
                
                <div class="text-center">
                    <a class="btn btn-primary btn-lg" href="mailto:hello@kuro.ai?subject=Question%20about%20Job%20Openings&body=My%20Name%3A%20%3Cyour%20name%3E%0D%0A%0D%0AMy%20Question%3A%20%3Center%20question%20here%3E%0D%0A">Contact Us</a>
                    
                </div>
                
        </div>
        {% include 'footer.html' %}
    </body>
</html>